// 进行margin/padding的重置
* {
  padding: 0;
  margin: 0;
}

// a元素重置
a {
  text-decoration: none;
  color: #333;
}

// img的vertical-align重置
img {
  vertical-align: top;
}

// ul ol li 重置
ul,
ol,
li {
  list-style: none;
}

// 对斜体元素进行重置
i,
em {
  font-stretch: normal;
}
